<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="60">

    <Properties>
        <!-- Solo para LOCAL -->
        <Property name="logPattern">
            %style{%d{ISO8601}}|%highlight{%-5level}|%X{X-Request-ID}|%style{%t}{bright,white}|%style{%C{1.}}{bright,yellow}: %msg%n%throwable
        </Property>
    </Properties>
	
	<Appenders>	        
		<Console name="Console-Appender" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}" charset="UTF-8" />            
        </Console>        
	</Appenders>
		
	<Loggers>
		<Logger name="org.springframework.web" level="info" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Logger name="org.springframework.web.client.RestTemplate" level="DEBUG" additivity="false">
            <AppenderRef ref="Console-Appender" />
        </Logger>
		<Logger name="samples.cas.client" level="debug" additivity="false">
			<AppenderRef ref="Console-Appender" />
		</Logger>
		<Root>
			<AppenderRef ref="Console-Appender" />
		</Root>
	</Loggers>
	
</Configuration>